<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cars</title>
</head>
<body>
    <h1>Cars</h1>
    <table border="1">
        <thead>
        <tr>
            <th>Producer</th>
            <th>Model</th>
            <th>Series</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="car : ${cars}">
            <td th:text="${car.producer}"></td>
            <td th:text="${car.model}"></td>
            <td th:text="${car.series}"></td>
        </tr>
        </tbody>
    </table>
</body>
</html>
